<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cafeyarv3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Configuration"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeYarV3">
        <activity
            android:name=".Login_And_SignUp.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".Login_And_SignUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Login_And_SignUp.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".Comment.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".Settings.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".CafeMenu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".cafeOnMap.CafeOnMapActivity"
            android:exported="false" />
        <activity
            android:name=".Courses.CoursesSpecificActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CafeOnList.CafeOnListActivity"
            android:exported="false" />
        <activity
            android:name=".CafeDetail.CafeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Login_And_SignUp.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Events.InvitationActivity"
            android:exported="false" />
        <activity
            android:name=".Events.EventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Courses.CoursesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>